@charset "utf-8";

body{
	width: 60em;
	margin: 0 auto;
}
header{
	text-align: center;
}

#lateral{
	float: left;
	width: 16em;
	padding: 0;
	margin: 0;
}

#principal{
	float:left;
	width: 44em;
	padding: 0;
	margin: 0;
}

#contenido{
	padding:0;
}

#contenido li{
	list-style: none;
	width: 33%;
	float: left;
}
