<h4>Introduce alumno</h4>
<div class="jumbotron">
  <form [formGroup]="miFormulario" (ngSubmit)="guardarCambios()" novalidate="">
    <fieldset class="form-group">

        <div class="form-group">
            <label class="form-control-label" for="nif">NIF</label>
            <input class="form-control" type="text" placeholder="Introduzca el dni" formControlName="nif" [ngClass]="{'is-invalid': miFormulario.get('nif').dirty && !miFormulario.get('nif').valid}">
              <div *ngIf="miFormulario.get('nif').dirty && miFormulario.get('nif').errors"  class="alert alert-danger">
                  <p *ngIf="miFormulario.get('nif').hasError('required')">El nif es obligatorio</p>
                 <p *ngIf="miFormulario.get('nif').hasError('minlength') || miFormulario.get('nif').hasError('maxlength')">Exactamente 9 caracteres</p>
             </div>

        </div>

        <div class="form-group">
            <label class="form-control-label" for="nombre">Nombre</label>
            <input class="form-control" type="text" placeholder="Introduzca el nombre" formControlName="nombre" [ngClass]="{'is-invalid': miFormulario.get('nombre').dirty && !miFormulario.get('nombre').valid}">
              <div *ngIf="miFormulario.get('nombre').dirty && miFormulario.get('nombre').errors"  class="alert alert-danger">
                  <p *ngIf="miFormulario.get('nombre').hasError('required')">El nombre es obligatorio</p>
                 <p *ngIf="miFormulario.get('nombre').hasError('minlength')">Por lo menos 3 caracteres</p>
             </div>

        </div>

        <div class="form-group">
            <label class="form-control-label" for="apellido1">Apellido1</label>
            <input class="form-control" type="text" placeholder="Introduzca el primer apellido" formControlName="apellido1" [ngClass]="{'is-invalid': miFormulario.get('apellido1').dirty && !miFormulario.get('apellido1').valid}">
              <div *ngIf="miFormulario.get('apellido1').dirty && miFormulario.get('apellido1').errors"  class="alert alert-danger">
                  <p *ngIf="miFormulario.get('apellido1').hasError('required')">El nombre es obligatorio</p>
                 <p *ngIf="miFormulario.get('apellido1').hasError('minlength')">Por lo menos 3 caracteres</p>
             </div>

        </div>

        <div class="form-group">
            <label class="form-control-label" for="apellido2">Apellido2</label>
            <input class="form-control" type="text" placeholder="Introduzca el segundo apellido" formControlName="apellido2" [ngClass]="{'is-invalid': miFormulario.get('apellido2').dirty && !miFormulario.get('apellido2').valid}">
              <div *ngIf="miFormulario.get('apellido2').dirty && miFormulario.get('apellido2').errors"  class="alert alert-danger">
                  <p *ngIf="miFormulario.get('apellido2').hasError('required')">El nombre es obligatorio</p>
                 <p *ngIf="miFormulario.get('apellido2').hasError('minlength')">Por lo menos 3 caracteres</p>
             </div>

        </div>

        <div class="form-group">
            <label class="form-control-label" for="telefono">Teléfono</label>
            <input class="form-control" type="text" placeholder="Introduzca el telefono" formControlName="telefono" [ngClass]="{'is-invalid': miFormulario.get('telefono').dirty && !miFormulario.get('telefono').valid}">
              <div *ngIf="miFormulario.get('telefono').dirty && miFormulario.get('telefono').errors"  class="alert alert-danger">
                  <p *ngIf="miFormulario.get('telefono').hasError('required')">El nombre es obligatorio</p>
             </div>

        </div>

        <div class="form-group">
            <div class="checkbox">

                <label for="repetidor">
                    <input type="checkbox" formControlName="repetidor"> Repetidor
                </label>

            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="correo">Correo Electrónico</label>
            <input class="form-control" type="email" placeholder="Introduzca el correo electrónico" formControlName="correo" [ngClass]="{'is-invalid': miFormulario.get('correo').dirty && !miFormulario.get('correo').valid}">
              <div *ngIf="miFormulario.get('correo').dirty && miFormulario.get('correo').errors"  class="alert alert-danger">
                  <p *ngIf="miFormulario.get('correo').hasError('required')">El nombre es obligatorio</p>
                 <p *ngIf="miFormulario.get('correo').hasError('email')">El formato de email no es correcto</p>
             </div>

        </div>



      <div class="form-group">
        <label class="form-control-label" for="idResponsable">Responsable</label>
        <select formControlName="idResponsable">

          <option *ngFor="let opt of listadoResponsables" [value]="opt.id" [selected]="alumnoModificar?.idResponsable==opt.id">{{opt.nombre}} {{opt.apellido1}} {{opt.apellido2}}</option>
        </select>

    </div>

        <div class="form-group">
            <label class="form-control-label" for="observaciones">Observaciones</label>
            <textarea class="form-control" placeholder="Introduzca el observaciones electrónico" formControlName="observaciones" [ngClass]="{'is-invalid': miFormulario.get('observaciones').dirty && !miFormulario.get('observaciones').valid}"></textarea>
              <div *ngIf="miFormulario.get('observaciones').dirty && miFormulario.get('observaciones').errors"  class="alert alert-danger">
                  <p *ngIf="miFormulario.get('observaciones').hasError('maxlength')">Tamaño máximo de 1000 caracteres</p>
             </div>
        </div>

    </fieldset>

    <button class="btn btn-primary" [disabled]="miFormulario.invalid" type="submit">Enviar</button>

  </form>
</div>
